#projects{
    left: 36%;
}

@media screen and (max-width: 768px) {
    #projects{
        left: 31%;
    }
}
@media screen and (max-width: 430px) {
    #projects{
        left: 27%;
    }
}

#projectimage:hover{
    object-fit: cover;
    object-position: top;
    animation: imagescroll 6s infinite ease;
}

@keyframes imagescroll {
    0%{
        object-fit: cover;
        object-position: top; 
    }
    10%{
        object-fit: cover;
        object-position: top; 
    }
    90%{
        object-fit: cover;
        object-position: bottom; 
    }
    100%{
        object-fit: cover;
        object-position: bottom; 
    }
}